# Core
python-telegram-bot>=20.0
python-telegram-bot[job-queue]
python-telegram-bot[callback-data]

# Database
sqlalchemy>=2.0
mysqlclient

# Cloud
boto3

# Utils
pytz
requests
httpx
fastapi
uvicorn

# Monitoring / error reporting
sentry_sdk
